.wrapper
    display: flex
    flex: 2
    justify-content: center
    margin-top: 5em

.criar-evento-container
    display: flex
    flex: 1
    flex-direction: column
    max-width: 500px

    .mat-form-field.mat-form-field
        width: 90%

    .mat-form-field.mat-form-field.campo-duracao
        width: 30% 
    
.adicione-aulas-container
    display: flex
    flex: 1
    flex-direction: column
    max-width: 500px

    div:not(.titulo)
        margin: 10px

.titulo 
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 48px
        margin-bottom: 20px

#botao-criar-evento
    text-align: center
    margin-top: 2em