<section class="container">
    <div class="container-playlist">
        <div class="videos-navigation" *ngFor="let file of files; let i = index">
            <div class="cards-videos" (click)="showSelectedVideo(file)">
                <mat-card-actions >
                    {{i+1}}.{{file.name | slice:0:40}}
                </mat-card-actions>
            </div>
        </div>
    </div>
    <div class="container-video">
        <mat-card>
            <video id="video" width="200" height="200" controls></video>
        </mat-card>
    </div>
</section>
