.wrapper
    height: calc( 100vh - 102px )
    margin: 0
    padding: 0
    .videos-navigation
    display: flex
    flex:1
    flex-direction: column
    background: #FFF
    width: 20%
    border-top: 2px solid black
    margin: 0
    padding: 0

    .cards-videos
        height: 50px
        border-bottom: 1px solid grey
        cursor: pointer
    .cards-videos:hover
        background: #a8a8a813
