<section class="wrapper">
    <div class="home-container">
        <div class="events-container">
            <div class="events-container"  *ngIf="hasEvents"> 
                <div class="card-events-container" *ngFor="let event of events">
                    <app-card-event [event]="event"></app-card-event>
                </div>
            </div>
            <div class="events-container"  *ngIf="!hasEvents"> 
                <div class="card-events-container">
                    SHEESH
                </div>
            </div>
            <!-- arrumar formatacao -->
        </div>
    </div>
</section>
